.wave-background {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 88px;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: var(--z-background);
  pointer-events: none;
  &__cell {
    height: 100%;
    transition: background 0.35s ease;
  }

  &.reversed {
    transform: rotate(180deg);
  }
}

@include adaptive-desktop {
  .wave-background {
    grid-auto-columns: 65.22px;
  }
}

@include adaptive-notebook {
  .wave-background {
    grid-auto-columns: 46.38px;
  }
}

@include adaptive-tablet {
  .wave-background {
    grid-auto-columns: 41.18px;
  }
}

@include adaptive-phone {
  .wave-background {
    grid-auto-columns: 29.44px;
  }
}

@include adaptive-xsphone {
  .wave-background {
    grid-auto-columns: 14.49px;
  }
}
