.footer {
  position: relative;
  margin-top: -1px;
  padding-bottom: 26px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  .feedback-form {
    margin-bottom: -6%;
    margin-top: 100px;
  }

  &__social {
    display: flex;
    align-items: center;
    img {
      min-width: 41px;
      min-height: 41px;
    }
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    max-width: calc(100% - 500px - 68px);
    margin-left: auto;
    flex-wrap: wrap;

    a {
      transition-duration: var(--transition-normal);
      &:hover {
        color: var(--color-green);
      }
    }
  }

  &__contact-link,
  &__contact-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  &__contact-link {
    text-decoration: none;
    color: var(--color-light-beige);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.06em;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
  }

  &__copyright-text {
    text-align: left;
    opacity: 0.8;
  }

  &__legal {
    text-align: right;
    opacity: 0.8;

    &-link {
      opacity: 0.8;
      &.mobile {
        display: none;
      }
    }
  }

  &__social-link {
    display: flex;
  }
  &__contact-links {
    display: flex;
  }

  &__logo.mobile {
    display: none;
  }
}

@include adaptive-desktop {
  .footer .feedback-form {
    margin-bottom: -11%;
  }
}

@include adaptive-notebook {
  .feedback-form {
    margin-top: 40px;
  }

  .footer .feedback-form {
    margin-bottom: -16%;
  }

  address {
    /* растянуть с первой строки до последней */
    max-width: 152px;
  }
}

@include adaptive-tablet {
  .footer__contact-info {
    justify-content: flex-end;
    margin-bottom: 59px;
  }
  .footer .feedback-form {
    margin-bottom: -28%;
  }
}

@media (max-width: 800px) {
  .footer .feedback-form {
    margin-bottom: -34%;
  }
}

@include adaptive-phone {
  .footer__logo:not(.mobile) {
    display: none;
  }

  .footer__contact-info {
    justify-content: space-between;
    max-width: 100%;
  }

  .footer__logo.mobile {
    display: block !important;
  }

  .footer .feedback-form {
    margin-bottom: -3%;
  }
}

@include adaptive-xsphone {
  .feedback-form__title {
    font-size: 16px;
  }
  .footer__legal {
    display: none;
  }
  .footer__legal-link.mobile {
    display: inline-block;
  }

  .footer .feedback-form {
    margin-top: 40px;
  }

  .footer__bottom {
    flex-wrap: wrap;
  }

  .footer {
    padding-bottom: 20px;
  }

  .footer__contact-address {
    min-width: 100%;
  }

  .footer__contact-info {
    margin-bottom: 80px;
  }

  .footer__logo.mobile {
    margin-bottom: 32px;
  }

  .footer .feedback-form__submit-button {
    max-width: 142px;
    margin-left: auto;
  }
}
