.footer {
  position: relative;
  margin-top: -1px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  .feedback-form {
    margin-bottom: -6%;
    margin-top: 100px;
  }

  &__social {
    display: flex;
    svg {
      width: 42px;
      height: 42px;
    }
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    max-width: calc(100% - 500px);
    margin-left: auto;
    flex-wrap: wrap;
  }

  &__contact-link,
  &__contact-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  &__contact-link {
    text-decoration: none;
    color: var(--color-light-beige);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.06em;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
  }

  &__copyright-text {
    text-align: left;
    opacity: 0.8;
  }

  &__legal {
    text-align: right;
    opacity: 0.8;
  }

  &__social-link {
    display: flex;
  }
  &__contact-links {
    display: flex;
  }

  .zero-hero__main__logo.mobile {
    display: none;
  }
}

@include adaptive-tablet {
  .footer__contact-info {
    justify-content: flex-end;
    margin-bottom: 59px;
  }
  .footer .feedback-form {
    margin-bottom: -31%;
  }
}

@include adaptive-notebook {
  .feedback-form {
    margin-top: 40px;
  }

  address {
    /* растянуть с первой строки до последней */
    max-width: 152px;
  }
}

@include adaptive-phone {
  .zero-hero__main__logo:not(.mobile) {
    display: none;
  }

  .footer__contact-info {
    justify-content: space-between;
    max-width: 100%;
  }

  .zero-hero__main__logo.mobile {
    display: block !important;
  }

  .footer .feedback-form {
    margin-bottom: -3%;
  }
}

@include adaptive-xsphone {
  .feedback-form__title {
    font-size: 16px;
  }

  .footer .feedback-form {
    margin-top: 40px;
  }
}
