.zero-hero {
  padding-bottom: 50px;

  position: relative;
  &__main {
    padding-block: 189px 50px;

    position: relative;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-description {
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;
        letter-spacing: -0.04em;
        max-width: 430px;
        text-transform: uppercase;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
      margin-bottom: 50px;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__description {
      max-width: 590px;
      margin-inline: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  &__cards {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    &-title {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 93px;

      line-height: 100%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      display: inline-flex;
      flex-direction: column;
      width: 100%;

      span {
        text-wrap: nowrap;

        &:first-child {
          text-align: left;
        }

        &:nth-child(2) {
          text-align: right;
        }

        &:nth-child(3) {
          text-indent: 20%;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &-list {
      --gapList: 150px;
      --viewCards: 5;
      margin-top: -2%;
      display: flex;
      gap: var(--gapList);
      align-items: flex-end;
      overflow: hidden;
      width: max-content;
      margin-inline: auto;
    }

    &-item {
      padding: 10px;
      border-radius: 5px;
      width: calc((100% - (var(--gapList) / 2)) / var(--viewCards));
      img {
        z-index: 10;
        height: 100%;
        object-fit: cover;
        object-position: center;

        overflow: hidden;
      }

      // каждый 2й элемент
      &:nth-child(2n) {
        margin-bottom: 8%;
      }
    }
  }
}

@include adaptive-desktop {
  .zero-hero__main {
    padding-top: 254px;
  }

  .zero-hero__cards-list {
    gap: 120px;
  }

  .zero-hero__cards-title {
    font-size: 66px;
  }
}
@include adaptive-notebook {
  .zero-hero__main {
    padding-top: 298px;
  }

  .zero-hero__cards-title {
    font-size: 62px;
  }

  .zero-hero__cards-list {
    gap: 100px;
  }
  .zero-hero__cards-title {
    font-size: 53px;
  }
}

@include adaptive-tablet {
  .zero-hero__main__top-description {
    font-size: 22px;
  }

  .zero-hero__main {
    padding-top: 264px;
  }

  .zero-hero__main__top {
    margin-bottom: 100px;
  }

  .zero-hero__cards {
    padding-top: 98px;
  }
}

@include adaptive-phone {
  .zero-hero__main__top-description {
    font-size: 16px;
  }

  .zero-hero__main {
    padding-top: 269px;
  }

  .zero-hero__cards {
    padding-top: 50px;
  }

  .zero-hero__cards-title {
    font-size: 43px;
  }

  .zero-hero__cards-list {
    gap: 60px;
  }
}

@include adaptive-xsphone {
  .zero-hero__main__top {
    margin-bottom: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    flex-direction: column;

    p {
      margin-left: auto;
    }
  }

  .zero-hero__main__logo {
    margin-bottom: 11px;
  }

  .zero-hero__main {
    padding-block: 79px 40px;
  }

  .zero-hero__cards .zero-hero__cards-title span {
    font-size: 37px;
    text-wrap: wrap;
    text-align: left;
    text-indent: 0;
  }

  .zero-hero__cards {
    padding-top: 40px;
  }

  .zero-hero__cards-list {
    gap: 40px;
  }

  .zero-hero {
    padding-bottom: 40px;
  }
}
