.partners {
  width: 100%;
  margin: auto;
  padding-block: 100px;
  position: relative;
  --listGap: 20px;

  &__title {
    margin-bottom: 100px;
  }

  &__wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--listGap);
  }
  &__wrap + &__wrap {
    margin-top: var(--listGap);
  }
  &__list {
    flex-shrink: 0;
    display: flex;
    gap: var(--listGap);

    justify-content: space-around;
    min-width: 100%;

    &.reverce {
      animation-direction: reverse !important;
    }

    &.marquee {
      animation: scroll 30s linear infinite;
    }

    &-item {
      width: 323px;
      height: 153px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 8px;
      transition: transform 0.3s ease;

      &:hover .partner-card__logo {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - var(--listGap)));
  }
}

.feedback-form__section {
  padding-top: 100px;
  position: relative;
}

// Стили для карточек партнеров
.partner-card {
  width: 323px;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover .partner-card__logo {
    filter: brightness(0) invert(1);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: 2;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.feedback-form__section {
  padding-top: 100px;
  position: relative;
}

@include adaptive-phone {
  .partners {
    --listGap: 14px;
    padding-bottom: 88px;
  }
  .partners__list-item,
  .partner-card {
    width: 234px;
    height: 111px;
  }

  .partners__wrap + .partners__wrap {
    margin-top: 20px;
  }
}

@include adaptive-xsphone {
  .partners {
    padding-block: 80px 40px;
  }
}
