.stages {
  position: relative;
  padding-block: 150px 50px;

  --totalStages: 6;
  --gapStages: 20px;

  &__head {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 8px 24px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gapStages);
    overflow: hidden;
    position: relative;
    align-items: stretch;
    margin-bottom: 150px;

    li {
      flex: 1;
      min-width: calc(
        100% / var(--totalStages) - var(--gapStages) * (var(--totalStages) - 1)
      );
    }
  }
}

.stage-card {
  padding: 10px;
  border-radius: 5px;
  height: 100%;

  &__inner {
    z-index: 5;

    height: 100%;
    display: flex;

    flex-direction: column;

    justify-content: space-between;
    width: 100%;

    border-radius: 5px;
    z-index: 2;
    position: relative;
  }

  // @include adaptive-desktop {
  //   height: 298px;
  // }

  &__dates {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
    &-separator {
      width: 50px;
      height: 2px;
      background-color: var(--color-light-beige);

      display: inline-block;
    }
  }
  &__number {
    font-family: var(--second-family);
    font-weight: 500;
    display: inline-block;

    line-height: 100%;

    text-transform: uppercase;

    --maxFontSize: 160px;
    --fontSizeTablet: 120px;
    --minFontSize: 60;

    font-size: var(--maxFontSize);
    @include adaptive-desktop {
      font-size: var(--fontSizeTablet);
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      user-select: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__number-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &__numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    gap: 19px;
    transition-duration: var(--transition-slower-3);
    transform: translateX(100%);
    z-index: -1;
    // transform: translateX(50%);

    span {
      display: inline-block;
      z-index: -1;
      flex: 1;
      margin-bottom: 4%;
      text-align: center;
      margin-inline: auto;
    }

    &.active {
      transform: translateX(0%);
    }
  }

  &__body {
    --maxHeight: 125;
    --minHeight: 104;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-top: auto;
    --maxFontSize: 26px;
    --maxFontSizeDesktop: 22px;
    --minFontSize: 15;
    font-size: var(--maxFontSize);

    @include adaptive-desktop {
      font-size: var(--maxFontSizeDesktop);
    }
  }
}

@include adaptive-desktop {
  .stage-card__title {
    font-size: 22px;
  }

  .stage-card__number {
    font-size: 120px;
  }

  .stages__list {
    margin-bottom: 100px;
  }
}

@include adaptive-notebook {
  .stages__list,
  .stage-card__numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 61px var(--gapStages);
  }
  .stages__list .stage-card__number {
    font-size: 160px;
  }

  .stages__list .stage-card__title {
    font-size: 26px;
  }

  .stage-card {
    aspect-ratio: 308 / 320;
  }
}

@media (max-width: 1300px) {
  .stage-card__title {
    font-size: 20px;
  }

  .stage-card__number {
    font-size: 82px;
  }
}

@include adaptive-tablet {
  .stage-card__title {
    font-size: 26px;
  }
  .stages .stages__list .stage-card__number {
    font-size: 120px;
  }

  .stages__list,
  .stage-card__numbers {
    gap: var(--gapStages);
  }
}

@include adaptive-phone {
  .stages__list,
  .stage-card__numbers {
    grid-template-columns: 1fr 1fr;
  }

  .stage-card__number {
    font-size: 160px;
  }
}

@include adaptive-xsphone {
  .stage-card__number {
    font-size: 110px;
  }

  .stage-card__title {
    font-size: 15px;
  }
  .stages {
    --gapStages: 16px;
  }
}

@media screen and (max-width: 450px) {
  .stage-card__number {
    font-size: 60px;
  }
  .stages__list {
    margin-bottom: 80px;
  }
}
